.container {
  background: linear-gradient(to bottom, #1b4965, #5fa8d3);
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: var(--primary-100);
  display: flex;
  flex-direction: column;
  height: auto;
  left: 50%;
  min-height: 650px;
  max-width: 1024px;
  padding: 24px 48px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 2;
}

.calendarContainer {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-100);
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--primary-100);
  margin-bottom: 24px;
}
