.container {
  background: linear-gradient(to bottom, #1b4965, #5fa8d3);
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: var(--primary-100);
  display: flex;
  flex-direction: row;
  gap: 48px;
  height: 100%;
  left: 50%;
  max-width: 1024px;
  padding: 48px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 2;
}
