.input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: white !important;
  color: var(--primary-900);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: var(--primary-900) !important;
    background-color: white !important;
  }

  &:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}