.button {
  padding: 4px 8px;
  text-decoration: none;
  border: none;
  font-size: 18px;
  color: var(--primary-900);
  transition: color 0.3s ease;
  background: none;

  &:hover {
    color: var(--primary-100);
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      background-color: var(--primary-100);
      color: var(--primary-900);
      cursor: default;
    }
  }
}

.secondary {
  padding: 12px 16px;
  border-radius: 25px;
  border: 1px solid var(--primary-900);
  background-color: var(--primary-100);
  color: var(--primary-900);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: var(--primary-900);
    color: var(--primary-100);
  }
}

.alert {
  background-color: var(--primary-600);
  color: var(--primary-100);

  &:hover {
    background-color: var(--primary-900);
    color: var(--primary-100);
  }
}
