.logo {
  width: 60px;
  height: 40px;
  transform: color 0.3s ease;
}

.logoLink {
  text-decoration: none;
  color: var(--primary-900);
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 18px;

  &:hover {
    color: var(--primary-300);
  }
}
