.container {
  background: linear-gradient(to bottom, #ffffff, #d0ecff);
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: var(--primary-900);
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  max-width: 700px;
  height: fit-content;
}
