@use "@/styles/colors.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.rdp-root {
  --rdp-accent-color: var(--primary-100);
  --rdp-accent-background-color: var(--primary-100);

  .rdp-chevron {
    fill: var(--primary-100);
  }
  .rdp-selected .rdp-day_button {
    border: 1px solid var(--primary-100);
  }
  .rdp-today .rdp-day_button {
    color: var(--primary-400);
  }
}
