.header {
    display: flex;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 40% 70%;
    background-repeat: no-repeat;
    align-items: center;
    padding: 0 24px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #0f293a90, #62b6cb70);   
        z-index: 1;
    }
}

