.navbar {
  background-color: var(--secondary-500);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 12px;
}
.welcome {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-600);
}
