.footer{
    display: flex;
    width: 100%;
    height: 70px;
 
    background-color: var(--primary-900);
    align-items: center;
    padding: 0 24px;
}
.footerText{
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-100);
}