.container {
  background: linear-gradient(to bottom, #ffffff, #cae9ff);
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  color: var(--primary-900);
  padding: 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: fit-content;
  width: 100%;
  max-width: 700px;
}

.title {
  font-size: 30px;
  margin-top: 100px;
  font-weight: 700;
  color: var(--primary-900);
}

.logo {
  align-self: flex-start;
}

.button {
  padding: 12px 16px;
  font-weight: 500;
  margin-top: 60px;
  font-size: 25px;
  border-radius: 25px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    font-weight 0.3s ease;

  &:hover {
    background-color: var(--primary-900);
    color: var(--primary-100);
    cursor: pointer;
    font-weight: 700;
  }
}
