.td {
  border: 1px solid var(--primary-900);
  padding: 8px;
}

.modalContent {
  border: 1px solid var(--primary-900);
  padding: 16px;
  border-radius: 8px;
  background-color: var(--primary-100);
  color: var(--primary-900);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}
