.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.input {
  width: calc(100% - 100px);
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: white !important;
  color: var(--primary-900);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
}

.button {
  width: 88px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background-color: var(--primary-900);
  color: var(--primary-100);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
  &.editing {
    opacity: 1;
  }
}
